* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.container {
  max-width: 100%;
  max-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 10px;
  background-color: blue;
  color: white;
}

h3 {
  color: white;
  margin: 10px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2300px;
  height: 800px;
}

.main__block {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150px;
  background-color: white;
}

.right-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 70px;
}

.right-main__one {
  width: 250px;
  height: 250px;
  background-color: yellow;
  text-align: center;
  padding: 75px 0 0 0;
  cursor: pointer;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.right-main__two {
  width: 250px;
  height: 250px;
  background-color: yellow;
  text-align: center;
  padding: 75px 0 0 0;
  cursor: pointer;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.right-main__three {
  width: 250px;
  height: 250px;
  background-color: yellow;
  text-align: center;
  padding: 75px 0 0 0;
  cursor: pointer;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
